<div class="jumbotron">
  <h1>Ask the hard questions</h1>
  <p>Lorem ipsum dolor sit amet, erant labores ad est.</p>
  <form class="form-inline" ng-submit="questionsandanswers.addNewQuestion('test-user', question)">
    <div class="form-group"> 
        <label for="question-input"></label>
        <input ng-model="question" name="question" type="text" class="form-control question"></input>
        <input type="submit" value="ask" class="btn btn-primary">
    </div> 
   
  </form>
</div>
  <div class="questionsandanswers" ng-repeat="questionandanswer in questionsandanswers.onlyQuestionsWithAnswers">
      <p class="questions">{{questionandanswer.questionTitle}}</p>
      <p class="answers">{{questionandanswer.answerBody}}</p>
</div>
