<h2>Get & give advice.</h2>
<h4>Get the advice you need to advance in your career. Offer advice to help others progress.</h4> 
<form role="form">
	<div class="form-inline form-group">
		<input type="first-name" class="form-control" placeholder="First Name"></input>
		<input type="last-name" class="form-control" placeholder="Last Name"></input>
	</div>
	<div class="form-inline form-group">
		<input type="email" class="form-control" placeholder="Email"></input> 
		<input type="password" class="form-control" placeholder="Password"></input>
	</div>
	<div class="checkbox">
		<p>What area would you like to offer advice in?</p>
		<label><input type="checkbox">Software Engineering</input></label> 
		<label><input type="checkbox">UX/Design</input></label> 
		<label><input type="checkbox">Product Management</input></label>
		<label><input type="checkbox">Data Analytics</input></label> 
		<label><input type="checkbox">Negotiation</input></label>
		<label><input type="checkbox">Work/Life Balance</input></label>
		<label><input type="checkbox">Maternity Leave</input></label>
	</div> 
</form> 
